$clr-very-dark: hsl(238, 29%, 16%);
$clr-soft-red: hsl(14, 88%, 65%);
$gradient-soft-violet: hsl(273, 75%, 66%);
$gradient-soft-blue: hsl(240, 73%, 65%);
$clr-dark-grayish-blue: hsl(237, 12%, 33%);
$clr-grayish-blue: hsl(248, 6%, 50%);
$clr-dividers: hsl(240, 6%, 91%);