@use './colors';
@use '../sass/media-queries' as *;

.faq-card__content {
  padding: 2rem 1rem 3rem;

  @include desktop {
    padding: 3.5rem 0;
    margin-right: 5rem;
  }

  &-title {
    text-align: center;
    margin-bottom: .5rem;
    font-size: 2rem;

    @include desktop {
      text-align: left;
      margin-bottom: 1rem;
    }
  }

  &-item[open] {
    summary > img {
      transform: rotate(180deg);
      transition: transform .5s ease;
    }
  }

  &-item {
    padding: 1rem 0;

    &-question {
      font-size: 0.9rem;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      cursor: pointer;

      &:focus {
        font-weight: 700;
      }

      &:hover {
        color: colors.$clr-soft-red
      }

      & > img {
        transition: transform .5s ease;
      }
    }

    &-answer {
      padding-top: 1rem;
      font-size: 0.8rem;
      line-height: 1.6;
      color: colors.$clr-grayish-blue;
    }
  }
}