@use './colors';

.main {
    height: 100vh;
    background: linear-gradient(colors.$gradient-soft-violet, colors.$gradient-soft-blue);
    padding: 9rem 0;

    &__card {
        width: 85%;
        margin-inline: auto;
        background-color: #ffffff;
        border-radius: 1rem;

        &--image-wrap {
            width: 76%;
            margin-inline: auto;

            &-woman {
                margin-top: -7rem;
            }
    
            &-shadow {
                margin-top: -4.9rem;
            }
        }
    }
}