@use '../sass/media-queries' as *;

.faq-card {
    margin: 8rem 0 1rem;

    &__container {
        width: 90%;
        margin-inline: auto;
        background-color: #fff;
        border-radius: 1rem;


        @include desktop {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
        
        &-box-image {
            display: none;
        }

        @include desktop {
            width: 70%;
            
            &-box-image {
                display: block;
                position: absolute;
                left: 7rem;
                top: 18.5rem;
                z-index: 11;
            }
        }
    }

    &__illustrations {
        height: 80px;

        &::after {
            position: relative;
            display: block;
            content: "";
            background-image: url(/faq-accordion-card-main/faq-accordion-card-main/images/bg-pattern-mobile.svg);
            background-repeat: no-repeat;
            width: min(95%, 250px);
            height: 105px;
            margin-inline: auto;
        }

        @include desktop {
            overflow: hidden;
            height: auto;
        }

        & img {
            display: block;
            margin-inline: auto;

            @include desktop {
                margin-inline: 0;
            }
        }

        & picture img {
            // width: 250px;
            position: relative;
            z-index: 10;
            top: -6.5rem;
            /* height: 214%; */
            width: 230px;
            height: 176px;
        }

        @include desktop {
            & picture img {
                position: relative;
                left: -5rem;
                top: 2rem;
                width: auto;
                height: auto;
            }
        }

        // &--shadow {
        //     position: relative;
        //     height: 30px;
        //     top: -5rem;
        //     z-index: 1;
        // }
    }
}